*{
    margin: 0;
    padding: 0;
}
body {
    width: 390px;
    height: 844px;
}
.menu-btn{
    margin-top: 20px;
    margin-left: 10px;
    margin-bottom: 5px;
    z-index: 100;
    cursor: pointer;
    padding:3px;
    width: max-content;
    background-color: antiquewhite;
}
.content{
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    height: 99%;
}
.menu-item{
    visibility: hidden;
    width: 100%;
    text-align: center;
    padding: 10px;
    border: 1px solid black;
    background-color: aquamarine;
}
.show{
    visibility: visible ;
    background-color: wheat;
}